<section class="uk-section uk-section-muted" id='about'>
  <div class="uk-container">

    <div class="uk-flex uk-flex-center">
      <h3>About</h3>
      <hr class="uk-divider-icon">
    </div>

    <div class='uk-grid-match uk-child-width-1-2@l' uk-grid>
      <div>
        <p>
          Lauren is a Senior Ruby on Rails developer with <a href='https://www.annkissam.com/'>Annkissam</a>, located in Boston MA, originally from West Tennessee.
        </p>
        <p>
          She is currently not seeking an employment change, but you're welcome to drop a line if you want to chat about something that excites you!
        </p>
        <hr class='uk-hidden@l'>
      </div>
      <div>
        <p>
          In her free time, Lauren enjoys sinking into a boring video game, doing logic puzzles, or riding her bike.
        </p>
        <p>
          Unfortunately, at the time of pulling this brief bio together, she does not have an existing photos of her looking wistfully off the edge the frame, but watch this space in case that ever changes.
          In the interim, feel free to imagine something bashful.
        </p>
      </div>
    </div>

  </div>
</section>
