<section class="uk-section uk-section-muted">
  <div class="uk-container">

    <div class="uk-flex uk-flex-center">
      <h3>About</h3>
      <hr class="uk-divider-icon">
    </div>

    <div class='uk-grid-match uk-child-width-1-2' uk-grid>
      <div>
        <p>
          Lauren is a Ruby on Rails developer with <a href='https://www.annkissam.com/'>Annkissam</a>, located in Boston MA.
        </p>
        <p>
          She is currently not seeking an employment change, but you're welcome to drop a line if you want to chat about something that excites you!
        </p>
      </div>
      <div>
        <p>
          In her free time, Lauren enjoys sinking into a boring video game, doing logic puzzles, or riding her bike.
        </p>
      </div>
    </div>

  </div>
</section>
