<header class="uk-section-secondary">
  <div id='header-main' class="uk-background-blend-difference uk-section uk-background-cover uk-background-fixed  uk-background-norepeat uk-background-bottom-center">
    <div class="uk-container">
      <div class='uk-flex uk-flex-center'>
        <img class='geocities-hidden uk-flex-center' src="assets/img/profile.png" alt="profile-pic" uk-img>

        <img class='geocities-img uk-flex-center' src="assets/img/geocities/skull.gif" style='max-height: 100px; margin: 30px' uk-img>
        <img class='geocities-img uk-flex-center' src="assets/img/geocities/wizardtp.gif" uk-img>
        <img class='geocities-img uk-flex-center' src="assets/img/geocities/skull.gif" style='max-height: 100px; margin: 30px' uk-img>
      </div>

      <hr class="uk-divider-icon geocities-hidden">
      <img class='geocities-img uk-align-center' src="assets/img/geocities/barflame.gif" uk-img>
      <h3 class="uk-flex uk-flex-center uk-heading-large">{{ site.title }}</h3>
      <h3 class="uk-flex uk-flex-center">{{ site.subtitle }}</h3>
    </div>

  </div>
</header>
