<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
  <nav class="uk-navbar-container" uk-navbar='dropbar: true; delay-hide: 100;'>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active">
          <a href="#" uk-scroll>Lauren Ball</a>
        </li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav uk-visible@m">
        <li class="hidden"><a href="#page-top"></a></li>
        <li><a href="/index#about" uk-scroll>About</a></li>
        <li><a href="/index#portfolio" uk-scroll>Projects</a></li>
        <li><a href="/index#contact" uk-scroll>Contact</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a target='_blank' href="/assets/resume.pdf">Resume</a></li>
      </ul>
      <ul class="uk-navbar-nav uk-hidden@m uk-iconnav">
        <li>
          <a href="" uk-icon="icon: heart; ratio: 1.5;"></a>
          <div class='uk-navbar-dropdown'>
            <ul class='uk-nav uk-navbar-dropdown-nav'>
              <li><a href="/index#about" uk-scroll>About</a></li>
              <li><a href="/index#portfolio" uk-scroll>Projects</a></li>
              <li><a href="/index#contact" uk-scroll>Contact</a></li>
              <li><a href="/blog">Blog</a></li>
              <li class="uk-nav-divider"></li>
              <li><a target='_blank' href="/assets/resume.pdf">Resume</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
