<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
  <nav class="uk-navbar-container" uk-navbar='dropbar: true; delay-hide: 100;'>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active">
        {% if page.path == 'index.html' %}
          <a href="#" uk-scroll='offset: 10;'>Lauren Ball</a>
        {% else %}
          <a href="/index">Lauren Ball</a>
        {% endif %}
        </li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav uk-visible@l">
        {% if page.path == 'index.html' %}
          <li><a href="/index#about" uk-scroll='offset: 10;'>About</a></li>
          <li><a href="/index#projects" uk-scroll='offset: 10;'>Projects</a></li>
        {% else %}
          <li><a href="/index#about">About</a></li>
          <li><a href="/index#projects">Projects</a></li>
        {% endif %}
        <li><a href="/blog">Blog</a></li>
        <li><a target='_blank' href="/assets/resume.pdf">Resume</a></li>
      </ul>
      <ul class="uk-navbar-nav uk-hidden@l uk-iconnav">
        <li>
          <a href="" uk-icon="icon: heart; ratio: 1.5;"></a>
          <div class='uk-navbar-dropdown'>
            <ul class='uk-nav uk-navbar-dropdown-nav'>
              {% if page.path == 'index.html' %}
                <li><a href="/index#about" uk-scroll='offset: 10;'>About</a></li>
                <li><a href="/index#projects" uk-scroll='offset: 10;'>Projects</a></li>
              {% else %}
                <li><a href="/index#about">About</a></li>
                <li><a href="/index#projects">Projects</a></li>
              {% endif %}
              <li><a href="/blog">Blog</a></li>
              <li class="uk-nav-divider"></li>
              <li><a target='_blank' href="/assets/resume.pdf">Resume</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
