<section class="text-center socials">
  <div class="container">
    <div class="row">
      <div class="footer-col col-md-4 col-md-offset-4">
        <h3>{{ site.footer.social }}</h3>
        <ul class="list-inline">
          {% for network in site.data.social %}
            <li>
              <a href="{{ network.url }}" class="btn-social btn-outline">
                <i class="fa fa-fw fa-{{ network.icon_class }}"></i>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
