// sticky footer
html, body {
    height:100%;
}
#page-wrapper {
    min-height: calc(100% - 20px);
    margin-bottom: -60px;
}
#page-wrapper:after {
    content: "";
    display: block;
}

// geocities mode toggle button
#geocities-toggle {
  button {
    border: none;
    background: none;
    cursor: pointer;
  }

  img {
    max-height: 40px;
    max-width: 40px;
  }
}
